Django==6.0.7
asgiref==3.11.1
sqlparse==0.5.5
gunicorn==23.0.0
whitenoise==6.12.0
psycopg2-binary==2.9.12
dj-database-url==3.1.2
xhtml2pdf==0.2.17
reportlab==4.5.1
Pillow==12.3.0
openpyxl==3.1.5
python-dateutil==2.9.0.post0
html5lib==1.1
lxml==6.1.1
cssselect2==0.9.0
tinycss2==1.5.1
webencodings==0.5.1
arabic-reshaper==3.0.1
python-bidi==0.6.11
charset-normalizer==3.4.7
six==1.17.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
